{% extends 'base.html' %} 
{% block content %}     

{% load crispy_forms_tags %}

<body id="login_container">
  <!--Login--> 
  <div class="container py-5">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <br><br><button class="btn btn-primary" type="submit">Login</button>
    </form> <br><br>
    <p class="text-center">Don't have an account? <a style="color:#e492bb" href="/register">Create an account</a>.</p>
  </div>
</body>

{% endblock %}