{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
  body {
  background: rgb(185,12,6);
  background: linear-gradient(90deg, rgba(185,12,6,1) 0%, rgba(227,92,29,1) 37%, rgba(26,128,150,1) 67%);
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<body>

    <h1>TradeRunner</h1>

    {% if user.is_authenticated %}

    <h2> welcome back team <br> check on CRYP-3P0, he is currently running on the golden cross strategy</h2> 

    <h2>Feel free to toggle CRYP-3P0, if you think you know better</h2>

    <div style="text-align: center;">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-info btn-lg active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Golden Cross
        </label>
        <label class="btn btn-info btn-lg">
          <input type="radio" name="options" id="option2" autocomplete="off"> Sell
        </label>
        <label class="btn btn-info btn-lg">
          <input type="radio" name="options" id="option3" autocomplete="off"> Turn CRYP-3P0 Off
        </label>
      </div>
    </div>

  <div class="row align-items-center" id="chart_container">
    <div class="col-6 col-sm-4">
      <canvas id="myChart" width="400" height="400"></canvas>
      <p style="color:#f7f7f7; font-family: 'Blade Runner Movie Font'; text-align: center;">Bitcoin</p>
    </div>
    <div class="col-6 col-sm-4"> 
      <canvas id="myChartD" width="400" height="400"></canvas>
      <p style="color:#f7f7f7; font-family: 'Blade Runner Movie Font'; text-align: center;">DogeCoin</p>
    </div>
    <div class="col-6 col-sm-4">
      <canvas id="myChartETH" width="400" height="400"></canvas>
      <p style="color:#f7f7f7; font-family: 'Blade Runner Movie Font'; text-align: center;">Ethereum</p>
    </div>
  </div>


  <script>
  const ctx = document.getElementById('myChart');
  const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [{% for dates in x %} '{{dates}}', {% endfor %}],
          datasets: [
            {
              label: 'BTCUSDT daily high',
              data: {{ btc_high }},
              borderColor: [
              'rgb(75, 192, 192)',
              ],
              borderWidth: 3,
              color: ['rgb(255, 255, 255)'],
          },
          {
            label: 'BTCUSDT daily close',
              data: {{ btc_close }},
              borderColor: [
              'rgb(255, 255, 255)',
              ],
              borderWidth: 3,
            }
          
        ]
      },
      options: {
        plugins: {  
          legend: {
            display: true,
            labels: {
              
            }
          }
        },
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

  <script>
    const ctxeth = document.getElementById('myChartETH');
    const myChartETH = new Chart(ctxeth, {
        type: 'line',
        data: {
            labels: [{% for dates in x %} '{{dates}}', {% endfor %}],
            datasets: [
              {
                label: 'ETHUSDT daily high',
                data: {{ eth_high }},
                borderColor: [
                'rgb(75, 192, 192)',
                ],
                borderWidth: 3,
                color: ['rgb(255, 255, 255)'],
            },
            {
              label: 'ETHUSDT daily close',
                data: {{ eth_close }},
                borderColor: [
                'rgb(255, 255, 255)',
                ],
                borderWidth: 3,
              }
            
          ]
        },
        options: {
          plugins: {  
            legend: {
              display: true,
              labels: {
                
              }
            }
          },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>


  <script>
    const ctxd = document.getElementById('myChartD');
    const myChartD = new Chart(ctxd, {
        type: 'line',
        data: {
            labels: [{% for dates in x %} '{{dates}}', {% endfor %}],
            datasets: [
              {
                label: 'DOGEUSDT daily high',
                data: {{ doge_high }},
                borderColor: [
                'rgb(75, 192, 192)',
                ],
                borderWidth: 3,
                color: ['rgb(255, 255, 255)'],
            },
            {
              label: 'DOGEUSDT daily close',
                data: {{ doge_close }},
                borderColor: [
                'rgb(255, 255, 255)',
                ],
                borderWidth: 3,
              }
            
          ]
        },
        options: {
          plugins: {  
            legend: {
              display: true,
              labels: {
                
              }
            }
          },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>


    <div>
      <img src="https://www.pikpng.com/pngl/b/169-1694738_graphic-free-stock-star-wars-at-getdrawings-com.png" alt="Graphic Free Stock Star Wars At Getdrawings Com Free - Star Wars C3p0 Drawings Clipart@pikpng.com">
    </div>


    <div class="table-container">
      <div class="table-responsive-sm text-center">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Crypto</th>
              <th scope="col">Date</th>
              <th scope="col">Side</th>
              <th scope="col">Amount</th>
              <th scope="col">Order ID</th>
              <th scope="col">Bid/Ask</th>
            </tr>
          </thead>
          <tbody>
            {% for trade in trades %}
            <tr>
              <td>{{trade.symbol}}</td>
              <td>{{trade.trade_date}}</td>
              <td>{{trade.side}}</td>
              <td>{{trade.quantity}} for ${{trade.order_price}}</td>
              <td>{{trade.order_id}}</td>
              <td>{{trade.bid_price}} / {{trade.ask_price}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>


    <div class="container">
      <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo">Show CRYP-3PO messages</button>
      <div id="demo" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>


    <p style="align-items: center; margin: auto; text-align: center;">
      <a style="color:#f7f7f7; font-family: 'Blade Runner Movie Font', sans-serif;;" href="{% url 'logout' %}">Log Out</a>
    </p>

  {% else %}

    <h2>You are not logged in, to see your trading information log in below 👇</h2>
    <div style="align-items: center; margin: auto; text-align: center;">
      <a style="color:#f7f7f7; font-family: 'Blade Runner Movie Font', sans-serif;" href="{% url 'login' %}">Log In</a>
    </div>
    
  {% endif %}

</body>
<canvas id="chart" width="500" height="500"></canvas>

{% endblock %}

