{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>

  body {
  background: rgb(185,12,6);
  background: linear-gradient(90deg, rgba(185,12,6,1) 0%, rgba(227,92,29,1) 37%, rgba(26,128,150,1) 67%);

}
 
</style>

<body>
  {% if user.is_authenticated %}
  Hi {{ user.username }}!

  <p> Lets start talking about bitcoin,
    1 - {{contracts.ADAUSDT.symbol}}
    2 - {{contracts.ETHUSDT.symbol}}

  </p>

  <div>
    {{show_graph.show()}}
  </div>
  

  <div>
    <img src="https://www.pikpng.com/pngl/b/169-1694738_graphic-free-stock-star-wars-at-getdrawings-com.png" alt="Graphic Free Stock Star Wars At Getdrawings Com Free - Star Wars C3p0 Drawings Clipart@pikpng.com">
  </div>

  <div class="table-container">
    <div class="table-responsive-sm text-center">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Crypto</th>
            <th scope="col">Date</th>
            <th scope="col">Side</th>
            <th scope="col">Amount</th>
            <th scope="col">Order ID</th>
            <th scope="col">Bid/Ask</th>
          </tr>
        </thead>
        <tbody>
          {% for trade in trades %}
          <tr>
            <td>{{trade.symbol}}</td>
            <td>{{trade.trade_date}}</td>
            <td>{{trade.side}}</td>
            <td>{{trade.quantity}} for ${{trade.order_price}}</td>
            <td>{{trade.order_id}}</td>
            <td>{{trade.bid_price}} / {{trade.ask_price}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>



  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>

{% endif %}

</body>
{% endblock %}

