{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>

  body {
  background: rgb(185,12,6);
  background: linear-gradient(90deg, rgba(185,12,6,1) 0%, rgba(227,92,29,1) 37%, rgba(26,128,150,1) 67%);

}
 
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<body>
<h1>TradeRunner</h1>

  {% if user.is_authenticated %}
  Hi {{ user.username }}!

  <p> Lets start talking about bitcoin,
    1 - {{contracts.ADAUSDT.symbol}}
    2 - {{contracts.ETHUSDT.symbol}}

  </p>

<div class="row align-items-center" id="chart_container">
  <div class="col">
    <canvas id="myChart" width="400" height="400"></canvas>
    <p style="color:#f7f7f7; font-family: 'Blade Runner Movie Font'; text-align: center;">Bitcoin</p>
  </div>
  <div class="col">
    <p style="color:#f7f7f7; font-family: 'Blade Runner Movie Font'; text-align: center;">DogeCoin</p>
  </div>
  <div class="col">
    <p style="color:#f7f7f7; font-family: 'Blade Runner Movie Font'; text-align: center;">Ethereum</p>
  </div>
</div>


<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for dates in x %} '{{dates}}', {% endfor %}],
        datasets: [{
            label: 'BTCUSDT daily high',
            data: {{ y }},
            borderColor: [
            'rgb(75, 192, 192)',
            ],
            borderWidth: 3,
            color: ['rgb(255, 255, 255)'],

        }]
    },
    options: {
      plugins: {  
        legend: {
          display: true,
          labels: {
            
          }
        }
      },
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>





  <div>
    <img src="https://www.pikpng.com/pngl/b/169-1694738_graphic-free-stock-star-wars-at-getdrawings-com.png" alt="Graphic Free Stock Star Wars At Getdrawings Com Free - Star Wars C3p0 Drawings Clipart@pikpng.com">
  </div>




  <div class="table-container">
    <div class="table-responsive-sm text-center">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Crypto</th>
            <th scope="col">Date</th>
            <th scope="col">Side</th>
            <th scope="col">Amount</th>
            <th scope="col">Order ID</th>
            <th scope="col">Bid/Ask</th>
          </tr>
        </thead>
        <tbody>
          {% for trade in trades %}
          <tr>
            <td>{{trade.symbol}}</td>
            <td>{{trade.trade_date}}</td>
            <td>{{trade.side}}</td>
            <td>{{trade.quantity}} for ${{trade.order_price}}</td>
            <td>{{trade.order_id}}</td>
            <td>{{trade.bid_price}} / {{trade.ask_price}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>



  <p style="align-items: center; margin: auto; text-align: center;">
    <a style="color:#f7f7f7; font-family: 'Blade Runner Movie Font', sans-serif;;" href="{% url 'logout' %}">Log Out</a></p>

{% else %}

  <h2>You are not logged in, to see your trading information log in below 👇</h2>
  <div style="align-items: center; margin: auto; text-align: center;">
    <a style="color:#f7f7f7; font-family: 'Blade Runner Movie Font', sans-serif;" href="{% url 'login' %}">Log In</a>
  </div>
  
{% endif %}

</body>
<canvas id="chart" width="500" height="500"></canvas>

{% endblock %}

