{% extends 'base.html' %}

{% block content %}

<style>
  h1 { color:#e492bb;
    text-align: center;
    padding: 80px;
  }

  div {
    height: 120px;
  }
  body{ 
    background-image: url('https://images.unsplash.com/flagged/photo-1577912504896-abc46b500434?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2728&q=80');
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

</style>

<body>
  <h1 style="font-size: 48px;"> Welcome to Traderunner <br><br> 🤖 </h1>

  <a class="btn btn-light" href="/home" role="button">Click to Enter</a>
  
</body>


{% endblock %}